html {
  background-color: #fdf6e3;
}

header, footer {
  font-size: 1.5rem;
}

nav ul {
  font-family: sans-serif;
}

h1 {
  text-transform: uppercase;
}

.wrapper {
  background-color:#eee8d5 ;
}

wrapper > .dfn {
  background-color:#b58900 ;
}

.dfn > strong {
  color: #fff;
}

ul li:first child {
  background-color:#719e07;
}

ul li:nth-child(3) {
  background-color:#719e07;
}

ul li:nth-child(4) {
  background-color:#719e07;
}

ul li:nth-child(5) {
  background-color:#719e07;
}
