html {
  background-color: #fdf6e3;
}

header {
  font-size: 1.5rem;
}

footer {
  font-size: 1.5rem;
}

nav ul {
  font-family: sans-serif;
}

h1 .logo {
  text-transform: uppercase;
}

main .wrapper {
  background-color: #eee8d5;
}

#content {
  color: #93a1a1;
}

#favs {
  color: #93a1a1;
}

#facts {
  color: #93a1a1;
}

#types {
  color: #93a1a1;
}

.dfn {
  background-color: #b58900;
}

.dfn + strong {
  color: #fff;
}

ol li:first-child {
  color: #719e47;
}

ol li:last-child {
  color: #2aa198;
}
